{% extends "base.html" %}
{% block title %}資料表新增(一){% endblock %}
{% block content %}
<h2>student 資料表新增(一)</h2>
<form action="." method="POST" name="form1" >
        {% csrf_token %}
      <table border="1" cellspacing="1" cellpadding="4" class="table table-striped">
        <tr>
          <th>姓名</th><td><input type="text" id="stuName" name="stuName"/></td>
        </tr>
        <tr>
          <th>學號</th><td><input type="text" id="stuID" name="stuID"/></td>
        </tr>
        <tr>
          <th>性別</th>
          <td>
            <input name="stuSex" type="radio" id="stuSex1" value="M" checked="checked" />
            男生
            <input name="stuSex" type="radio" id="stuSex2" value="F" checked="checked" />
            女生
          </td>
        </tr>
        <tr>
          <th>生日</th><td><input type="date" id="stuBirth" name="stuBirth"/></td>
        </tr>
        <tr>
          <th>電子郵件</th><td><input type="mail" id="stuEmail" name="stuEmail"/></td>
        </tr>
        <tr>
          <th>電話</th><td><input type="text" id="stuPhone" name="stuPhone"/></td>
        </tr>
        <tr>
          <th>地址</th><td><input type="text" id="stuAddress" name="stuAddress"/></td>
        </tr>
        <tr>
          <th colspan="2" align="center">
            <input type="submit" id="button" name="button" value="送出" class="btn btn-primary"/>
            <input type="reset" id="button" name="button" value="重設" class="btn btn-primary"/>
          </th>
        </tr>
      </table>
        <span style="color:red">接收到的資料:{{mess}}</span>
</form>
{% endblock %}