{% extends "base.html" %}
{% block title %}新增學生{% endblock %}
{% block content %}

<form action="/post/" method="POST" name="addstu">
        {% csrf_token %}
        <div>請輸入姓名:<input type="text" name="stuName"/>
        <div>請輸入學號:<input type="text" name="stuID"/>
        <div>請輸入性別:
            <select name="stuSex" >
            <option selected>男</option>
            <option>女</option>
            <option>其他</option>
          </select>
        </div>  
        <div>請輸入生日:<input type="date" name="stuBirth"/>
        <div>請輸入電子郵件:<input type="mail" name="stuEmail"/>
        <div>請輸入電話:<input type="text" name="stuPhone"/>
        <div>請輸入地址:<input type="text" name="stuAddress"/> 
            <input type="submit" value="送出資料">
        <div>接收到的資料:{{mess}}</div>
</form>
{% endblock %}