{% extends "base.html" %}
{% block title %}編輯資料表{% endblock %}
{% block content %}
<h1>編輯資料表新增</h1>
<form action="/edit/{{unit.stuID}}/edit" method="GET" name="form1" >
        {% csrf_token %}
      <table border="1" cellspacing="1" cellpadding="4" class="table table-striped">
        <tr>
          <th>姓名</th><td><input type="text" id="stuName" name="stuName" value="{{unit.stuName}}"/></td>
        </tr>
        <tr>
          <th>學號</th><td><input type="text" id="stuID" name="stuID" value="{{unit.stuID}}"/></td>
        </tr>
        <tr>
          <th>性別</th>
          {% if unit.stuSex == "M" %}
          <td>
            <input name="stuSex" type="radio" id="stuSex1" value="M" checked="checked" />
            男生
            <input name="stuSex" type="radio" id="stuSex2" value="F" />
            女生
          </td>
          {% else %}
          <td>
            <input name="stuSex" type="radio" id="stuSex1" value="M" />
            男生
            <input name="stuSex" type="radio" id="stuSex2" value="F" checked="checked" />
            女生
          </td>
          {% endif %}
        </tr>
        <tr>
          <th>生日</th><td><input type="date" id="stuBirth" name="stuBirth" value="{{unit.stuBirth}}"/></td>
        </tr>
        <tr>
          <th>電子郵件</th><td><input type="mail" id="stuEmail" name="stuEmail" value="{{unit.stuEmail}}"/></td>
        </tr>
        <tr>
          <th>電話</th><td><input type="text" id="stuPhone" name="stuPhone" value="{{unit.stuPhone}}"/></td>
        </tr>
        <tr>
          <th>地址</th><td><input type="text" id="stuAddress" name="stuAddress" value="{{unit.stuAddress}}"/></td>
        </tr>
        <tr>
          <th colspan="2" align="center">
            <input type="submit" id="button" name="button" value="送出" class="btn btn-primary"/>
          </th>
        </tr>
      </table>
</form>
{% endblock %}